requests
beautifulsoup4
lxml
nmap
argparse
pandas
numpy
jinja2
matplotlib
seaborn
scapy
paramiko
pyyaml
pygments
sqlalchemy
pyopenssl
cryptography
dnspython
pyfiglet
colorama
psutil
netifaces
validators
jsonschema
pytest
sphinx
docopt
rich
tabulate
